<app-navigation-bar></app-navigation-bar>
<mat-sidenav-container autosize>
  @if (isMobile) {
    <mat-sidenav [opened]="true" mode="side">
      <mat-nav-list>
        @if (authenticated()) {
          @if (canAddBlogs()) {
            <a mat-button href="/create">
              <mat-icon>add</mat-icon>
              <span>Blogeintrag erstellen</span>
            </a>
          }
        }
      </mat-nav-list>
    </mat-sidenav>
  }
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
