<mat-toolbar color="primary" class="header-toolbar">
  <span class="header-title">Blog App</span>
  <span class="spacer"></span>
  @if (isMobile$ | async) {
    <button mat-icon-button (click)="onMenuToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  } @else {
    <ng-container>
      <a mat-button routerLink="/blogs-overview" routerLinkActive="active">Overview</a>
     <!-- @if (!authenticated().isAuthenticated) {-->
        <button mat-button (click)="login()">Login</button>
        <button mat-button (click)="logout()">Logout</button>
    </ng-container>
  }
</mat-toolbar>
