<mat-toolbar [class.mat-elevation-z3]="true" class="mat-toolbar">
  <a href="/blogs-overview" style="text-decoration: none; color: inherit">
    <span>Blog App</span>
  </a>
  <span class="spacer"></span>
  @if (!isMobile) {
    @if (authenticated()) {
      @if (canAddBlogs()) {
        <a mat-button href="/create">
          <mat-icon>add</mat-icon>
          <span>Add blog</span>
        </a>
      }
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        <span>{{ userName() }}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="logout()" mat-button>
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    } @else {
      <button (click)="login()" mat-button>
        <mat-icon>login</mat-icon>
        <span>Log In</span>
      </button>
    }
  }
  @if (isMobile) {
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  }
</mat-toolbar>
