<mat-card>
  <mat-form-field>
    <mat-label>Enter Name</mat-label>
    <input matInput [(ngModel)]="name" />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="toggleStyle()">Toggle Style</button>

  <div *ngIf="name">
    <p>Hello, {{ name }}!</p>
  </div>

  <div [ngSwitch]="status">
    <p *ngSwitchCase="'active'">Status: Active</p>
    <p *ngSwitchCase="'inactive'">Status: Inactive</p>
    <p *ngSwitchDefault>Status: Unknown</p>
  </div>

  <ul>
    <li *ngFor="let item of items" [ngClass]="{'highlight': isHighlighted(item)}">
      {{ item }}
    </li>
  </ul>

  <p [ngStyle]="{color: color}">Dynamic style text</p>

  <div class="blog-list">
    <div *ngFor="let blog of blogs" class="blog-item">
      <img *ngIf="blog.headerImageUrl" [src]="blog.headerImageUrl" alt="{{ blog.title }}" class="header-image">
      <h3>{{ blog.title }}</h3>
      <p>By {{ blog.author }} on {{ blog.createdAt | date }}</p>
      <p>{{ blog.contentPreview }}</p>
      <div class="footer">
        <span>{{ blog.likes }} Likes</span>
        <span>{{ blog.comments }} Comments</span>
      </div>
    </div>
  </div>
</mat-card>
