<mat-card>
  <span *ngIf="isAuthenticated()">Welcome, {{ username }}</span>

  <mat-form-field>
    <mat-label>Enter Name</mat-label>
    <input matInput [(ngModel)]="name" />
  </mat-form-field>

  <button *ngIf="isUser()" routerLink="/add-blog">Add Blog</button>


  <button mat-raised-button color="primary" (click)="toggleStyle()">Toggle Style</button>

  <div class="blog-list">
    <div *ngFor="let blog of blogs" class="blog-item">
      <img *ngIf="blog.headerImageUrl" [src]="blog.headerImageUrl" alt="{{ blog.title }}" class="header-image">
      <h3>{{ blog.title }}</h3>
      <p>By {{ blog.author }} on {{ blog.createdAt | date }}</p>
      <p>{{ blog.contentPreview }}</p>
      <div class="footer">
        <span>{{ blog.likes }} Likes</span>
        <span>{{ blog.comments }} Comments</span>
      </div>
    </div>
  </div>
</mat-card>