<div *ngIf="isLoading" class="spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="!isLoading && blog" class="blog-detail">
  <h1>{{ blog?.title }}</h1>
  <p><strong>By {{ blog?.author }}</strong></p>
  <p>{{ blog?.createdAt | date }}</p>
  <img *ngIf="blog.headerImageUrl" [src]="blog?.headerImageUrl" alt="{{ blog?.title }}" />
  <p>{{ blog?.content }}</p>
</div>

<div *ngIf="!isLoading && !blog" class="error">
  <p>Could not load blog details. Please try again later.</p>
</div>

<!-- besser flow control syntax verwenden anstelle von ngIf direktiven  -->