@media (max-width: 960px) {
  .sidenav-container mat-sidenav {
    width: 200px;
  }

  .blog-card img {
    max-height: 150px;
  }
}

@media (max-width: 600px) {
  .sidenav-container mat-sidenav {
    display: none; /* Hide sidebar for smaller screens */
  }

  .blog-card img {
    max-height: 100px;
  }
}

html, body {
  height: 100%; /* Ensure the body occupies the full viewport height */
  margin: 0;
  overflow: hidden; /* Prevent scrolling on the body */
}
